/* sidebar */
.sidebar-area{
	.shop-widget {
	    margin: 0 0 40px;
	    &:last-child{
	    	margin:0;
	    }
	    h3{
	    	font-size: 13px;
		    font-family: Poppins;
		    color: #222222;
		    text-transform: uppercase;
		    font-weight: 500;
		    letter-spacing: 0.5px;
		    border-bottom: 1px solid #e9e9e9;
		    padding: 0 0 10px;	
		    margin: 0 0 25px;
	    }
	}
	.widget-title {
	    margin: 0px 0 25px;
	    h2{
	    	text-transform:uppercase;
	    	font-family:Poppins;
	    	font-size:16px;
	    	color:#222222;
	    	letter-spacing: 1px;
	    	&:after{
				content: "";
			    border: 1.2px solid #000;
			    width: 26px;
			    display: block;
			    margin: 10px 0 0;			    
			}
	    }
	}
	.widget-content{
		p{
			color: #888888;
			font-size: 13px;
    		font-family: Poppins;
    		margin: 0;
		}
		ul{
			margin:0;
			padding:0;
			list-style:none;
			li{
				display:block;				
				span{
			    	position: absolute;
		    		right: 14px;
			    }
				h4{
					font-size:13px;
					font-family:Poppins;
					color:#222222;
					text-transform:uppercase;
					font-weight: 500;
					letter-spacing: 0.5px;
					border-bottom:1px solid #e9e9e9;
					padding: 0 0 10px;										
				}				
				ul{
					padding:0;
					margin:0;					
					li{
						margin: 0 0 5px;
						a{
							color:#888888;
							text-transform:none;
							font-size:13px;
							font-family:Poppins;
							font-weight:300;							
							transition: 0.3s;
							&:hover{
								text-decoration:none;
								color:#dd7e2e;
							}
						}
						span{
							color: #888888;
    						font-size: 12px;
						}
					}
				}
			}		
		}
		#slider-range {
			background: #cccccc;
			border: 0 none;
		    border-radius: 0;
		    height: 5px;
	    	margin: 0 0 15px;
	    	span.ui-state-default {
			    background: #000000;
			    border: 0 none;
			    border-radius: 50%;
			    height: 15px;
			    width: 15px;
			}
			.ui-slider-range.ui-corner-all.ui-widget-header {
			    background: #000000;
			}
		}
		input#amount {
		    border: none;
		    font-family: Poppins;
		    font-size: 14px;
		}
		ul#accordion{
			li{
				margin: 0 0 25px;
				h4{
					cursor: pointer;
				}
				ul{
					display:none;
					li{
						margin:0px;
						padding: 0 0 6px;
					}
				}
			}
		}
	}
}
/* sidebar end */

.shop-banner{
	background: #f4f4f4;
    padding: 50px 60px;
    margin: 0 0 50px;
	h3{
		font-family:Poppins;
		color:#222222;
		letter-spacing:0.5px;
		font-weight:300;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	h4{
		font-family:Poppins;
		color:#222222;
		font-weight: 400;
	    text-transform: uppercase;
	    font-size: 22px;
	}
	p{
		color:#666666;
		font-family:Poppins;
		font-size: 12px;
	}
}

.filter-bar {
    margin: 0 0 30px;   
	.prd-tab {
	    float: left;
	    margin: 0 25px 0 0;
	}
	.product-filter {
	    float: left;
	    select {
		    border: none;
		    background: #ececec;
		    padding: 8px 10px;
		    font-size: 13px;
		    font-family: Poppins;
		}
	}
	.nav-item a i {
	    font-size: 18px;
	}
	.product-showing {
		float: right;
		p {
		    text-align: right;
		    font-size: 13px;
		    margin: 0;
		    border: 1px solid #ddd;		    
		    padding: 11px 15px;	   
		}
	}
}

.page-link{
	color:#444444;
}

.nav-tabs {
    border-bottom: none;
    .nav-link {
	   border: none;
	   margin: 0 10px 0 0;
	   border-radius: unset;
	   color: #000;
	   text-transform: uppercase;
	   font-weight: 500;
	   line-height: 0;
	   &:last-child{
	   	margin:0;
	   }
	}
}

.product-item ul {
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none;
		width: 33.33%;
		padding: 0 15px;
		margin: 0 0 30px;
		&:last-child {
			margin-right: 0;			
		}
	}
}
.shop-4-col{
	.product-item ul{
		li{
			width: 25%;
		}
	}
}

.shop-list{
	ul{
		margin:0;
		padding:0;
		list-style:none;
		li{
			margin: 0 0 30px;
		}
	}
}

.product-list {  
	overflow: hidden;  
	.product-image {
		border: 1px solid rgba(0, 0, 0, .1);
	  	position: relative;
	   	transition: all .3s ease 0s;  
	   	img {
	   		max-width: 100%;
	   	} 	
	   	.pic-1 {
	   	   opacity: 1;
	   	   transition: all .3s ease-out 0s
	   	}
	   	&:hover .pic-1 {
	   	   opacity: 1
	   	}
	   	.pic-2 {
	   	   opacity: 0;
	   	   position: absolute;
	   	   top: 0;
	   	   left: 0;
	   	   transition: all .3s ease-out 0s
	   	}
	   	&:hover .pic-2 {
	   	   opacity: 1
	   	}
	}	
	.list-content{
		h3{
			a {
			    color: #444444;
			    font-weight: 400;
			    font-size: 16px;
			    display: block;
			    transition:0.3s;
			    &:hover{
			    	text-decoration: none;
    				color: #dd7e2e;
			    }
			}
		}
		p{
			font-size: 14px;
    		color: #888888;
    		margin: 0 0 16px;
		}
		.price{			
		    font-size: 18px;
		    text-align: left;
		 	margin: 0 0 16px;
		    span{
	    	    font-size: 16px;
	    	    font-family: Oswald, Montserrat, sans-serif;	    	   
		    }
		}
		.list-cart {
		    float: left;
		    margin: 0 38px 0 0;
		    a.add-to-cart{
		    	font-size: 15px;
		    }
		}
		.social {
			float:left;
			li {
			   display: inline-block;
			   margin: 0 15px 0 0;		 
			   padding: 0;
			    a {
		   		   color: #434343;		  
		   		   font-size: 16px;	
		   		   display: block;		  
		   		   transition: all .3s ease-in-out;
		   		   &:hover {
					   color:#84b77c;		 
					}
		   		}
			}
		}		
	}
}

